/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}